build==1.4.0
cachetools==7.0.1
certifi==2026.1.4
chardet==5.2.0
colorama==0.4.6
Django==6.0.2
distlib==0.4.0
filelock==3.24.3
id==1.6.1
idna==3.11
packaging==26.0
pip==25.1.1
platformdirs==4.9.2
pluggy==1.6.0
pygments==2.19.2
pyproject-api==1.10.0
pyproject-hooks==1.2.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.3.3
tox==4.44.0
twine==6.2.0
urllib3==2.6.3
uv==0.10.4
